<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/default.css" rel="stylesheet" type="text/css">
</head>

<body>

  <section>
    <b class="text-primary">Estado:</b>
    <img class="center-block img-fluid" src="../img/disponible (1).gif" width="300">
    <br>
    <h4 class="">Instrucciones para solicitar</h4>
    <p class="">1. Designe un titulo al problema</p>
    <p>
      <input type="text" class="form-control" placeholder="Escriba el Titulo del problema aqui... ">
    </p>
    <p class="">2. Ingrese en el recuadro una breve descripción del problema</p>
    <p>
      <textarea placeholder="Escriba aqui una breve descripción del problema... " rows="5" class="form-control"></textarea>
    </p>
    <p class="">3. Realice brevemente un verificación sobre lo que escribio anteriormente antes de enviar solicitud.</p>
    <p class="">4. Un ves todo corroborado, haga click en Solicitar Atención.
      <br>
      <i>- Una ves solicitado el servicio correctamente, tomara alrededor de 1
                                    - 5 minutos antes de acudir a su oficina para realizar el servicio.</i>
    </p>
    <a href="#" class="btn btn-block btn-primary">Solicitar Atención</a>
    <br>
    <br>
  </section>

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>




</body>

</html>