<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <style>
    .jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.3;
    color: #fff;
    background: #000 url("img/log1.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
  
  
    position:absolute;
    top:0;left:0;
    z-index:1;
}
.jumbotron {
  position:relative;padding:50px;
  text-align: center;
}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}

  </style>
</head>

<body>
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="js/taffy.js"></script>
<script type="text/javascript" src="js/soundjs-NEXT.combined.js"></script>
<!-- <script src="db-js/software_necesario.js"></script> -->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">SIGESIN  </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li> -->
        
      </ul>
      <%if( !account ){%>
      <form class="form-inline my-2 my-lg-0" action='/login'>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" style='cursor:pointer;'>Ingresar</button>
      </form>
      <%}%>
      <%if( account ){%>
      <a href='user_panel'><button class="btn btn-outline-info my-2 my-sm-0" type="button" style='cursor:pointer;'>Panel de Control</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="session_exit"><button class="btn btn-outline-danger my-2 my-sm-0" type="button" style='cursor:pointer;'>Cerrar Sessión</button></a>
      <%}%>
    </div>
  </nav>
  <div style="height:3px;background-color:red;"></div>

  <div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <h1 class="display-1"><b>SIGESIN</b></h1>
          <br>
          <%if( !account ){%>
          <a href="/login" class="btn btn-outline-primary btn-lg">Ingresar ahora!</a>
          <%}else{%>
          <a href="/user_panel" class="btn btn-outline-danger btn-lg">Consultar Ahora</a>
          <%}%>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <% if( account ){ %>
    <div class="p-y-3 section">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="img/tecnico_soporte_informatico.jpg" class="img-fluid img-thumbnail">
          </div>
          <div class="col-md-6 col-md-offset-1">
            <h1 class="text-primary">¿Que es SIGESIN?</h1>
            <h5 class="text-danger">- NUEVO</h5>
            <p class="lead text-justify">Es un sistema especializado en la solución de problemas informáticos en todos los órganos de la Institución de las Oficinas de PRONABEC-Moquegua que realice operaciones con el apoyo tecnológico, el cual comprende 3 módulos y requiere de un practicante especializado en informática como mínimo para brindar soluciones ante cualquier suceso inesperado por el usuario, el sistema brinda a cada usuario un medio de comunicación en tiempo real con el practicante de soporte informática y otros funcionarios.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="p-y-3 section">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h4>Preguntas frecuentes</h4>
              <hr>
              <div id="accordion_frequent_questions" role="tablist" aria-multiselectable="true">
                  
                </div>
            </div>
          </div>
      </div>
    </div>
    <br>
    <div class="p-y-3 section">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-xs-center">Especialistas en Soporte Informatico</h4>
            <hr class="" draggable="true">
          </div>
        </div>
        <div class="row">
          <div class="col-2 offset-md-2 text-center">
            <img src="http://127.0.0.1:3000/img/personal/luis.torres.png" class="center-block img-circle img-fluid m-y m-y-1">
            <h5>Luis Torres Carpio</h5>
            <p>PRACTICANTE</p>
          </div>
          <div class="col-2 offset-md-1 text-center">
            <img src="https://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-fluid m-y m-y-1">
            <h5>Anonimo 1</h5>
            <p>Soporte 1</p>
          </div>
          <div class="col-2 offset-md-1 text-center ">
            <img src="https://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-fluid m-y m-y-1">
            <h5>Anonimo 2</h5>
            <p>Soporte 2</p>
          </div>
        </div>
      </div>
    </div>

    <style>
      #software_necesarios_menu .col-md-1 img{
        cursor: pointer;
      }
    </style>
    <div class="p-y-3 section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h4>Software Necesarios (Oficinas de Pronabec - Moquegua)</h4>
            <hr>
          </div>
        </div>
        <div class="row" id='software_necesarios_menu'>
          <div class="col-md-1">
            <img src="http://korud.com/wp-content/uploads/2017/02/winRAR-error.png" class='img-fluid' onclick="setSoftwareDetails('Winrar');">
          </div>
          <div class="col-md-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3c0JmZP1boBxM_MSYEqIP1T8icp91_Ws2KVE5N2V-sUQ06t8u" class='img-fluid' onclick="setSoftwareDetails('Eset Nod32 Antivirus');">
            
          </div>
          <div class="col-md-1">
            <img src="http://it.miami.edu/_assets/images/o365-logo.jpg" class='img-fluid' onclick="setSoftwareDetails('Office 365');">
            
          </div>
          <div class="col-md-1">
            <img src="https://imagenes.es.sftcdn.net/es/scrn/94000/94947/nitro-pro1400865798-100x100.png" class='img-fluid' onclick="setSoftwareDetails('Nitro Pro');">
          </div>
          <div class="col-md-1">
            <img src="https://www.mercadoactual.es/imgproductos/img1020000/Big/impresora-multifuncional-samsung-sl-m4370lx-multifunction-43ppm-a4-sl-m4370lx-see.jpg" class='img-fluid' onclick="setSoftwareDetails('Samsung M4370');">
          </div>
          <div class="col-md-1">
            <img src="https://screenshots.en.sftcdn.net/en/scrn/60000/60958/teamviewer-09-535x535.png" class='img-fluid' onclick="setSoftwareDetails('TeamViewer');">
          </div>
          <div class="col-md-1">
            <img src="ico/inicio/skype-for-business.jpg" class='img-fluid ' onclick="setSoftwareDetails('Skype_emp');">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4  text-center" >
            <img src="http://www.eset-la.com/images/download/img_nod32.jpg" id='img_sw' class="img-fluid">
          </div>
          <div class="col-md-8 text-justify" >
          <div id="detalle"></div>
          
          <div style="position: absolute;bottom: 20;"><a href="" target="_blank" id='link_download'>Click Aqui para descargar</a></div>
          </div>

        </div>
      </div>
  </div>
  <br>
  <div class="p-y-3 section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Consultas en tiempo real</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
    <% } %>
  <div style="height:3px;background-color:gray;"></div>
  <div class="bg-faded section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h6 class="text-xs-center">
            <br>Sigesin - Sitio Oficial </h6>
        </div>
      </div>
    </div>
  </div>





<script>
var db_sone,db_frqu;

$.getJSON('db-js/software_necesario.json', function(data) {
  db_sone = TAFFY(data);
  setSoftwareDetails("Winrar");
});
$.getJSON('db-js/frequent_questions.json', function(data) {
  db_frqu = TAFFY(data);
  setFrequent_questions();
});
function setSoftwareDetails(name){
  var dt = db_sone({name:name}).get();
  // console.log(dt);
  $("#detalle").html( dt[0].detalle );
  $("#link_download").attr('href', dt[0].link_download );
  // console.log( dt[0].detalle );
  $("#img_sw").attr("src",dt[0].img_sw);
}
function setFrequent_questions(){
  var dt = db_frqu().get();
  console.log(dt);
  var list="";
  for( i in dt ){
//     list+="<div class='card-header' role='tab' id='headingOne'>"
// +"      <h5 class='mb-0'>"
// +"        <a data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='true' aria-controls='collapseOne'>"
// +"          Collapsible Group Item #1"
// +"        </a>"
// +"      </h5>"
// +"    </div>"

// +"    <div id='collapseOne' class='collapse show' role='tabpanel' aria-labelledby='headingOne'>"
// +"      <div class='card-block'>"
// +"        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS."
// +"      </div>"
// +"    </div>"
// +"  </div>";
     list += "<div class='card'>"
    +"  <div class='card-header' role='tab' id='heading_"+i+"'>"
    +"    <h5 class='mb-0'>"
    +"      <a data-toggle='collapse' data-parent='#accordion_frequent_questions' href='#collapse_"+i+"' aria-expanded='true' aria-controls='collapse_"+i+"'>"
    +"        "+dt[i].pregunta
    +"      </a>"
    +"    </h5>"
    +"  </div>"

    +"  <div id='collapse_"+i+"' class='collapse "+(i==0?"show":"")+"' role='tabpanel' aria-labelledby='heading_"+i+"'>"
    +"    <div class='card-block' style='text-align: justify;'>"
    +"      "+dt[i].respuesta
    +"    </div>"
    +"  </div>"
    +"</div>";
    
  }
  $("#accordion_frequent_questions").html(list);

  // return;
  // for( i in )
 

}

</script>


<script type="text/javascript" >
$(document).ready(function() {
  mediaplayer_init();
});
  function mediaplayer_init() {
    if (!createjs.Sound.initializeDefaultPlugins()) {
      document.getElementById("error").style.display = "block";
      document.getElementById("content").style.display = "none";
      return;
    }
    createjs.Sound.alternateExtensions = ["mp3"]; 
    createjs.Sound.addEventListener("fileload", createjs.proxy(handleLoadComplete, this)); // add an event 
    createjs.Sound.registerSound("sound/tucutin1.mp3", "music");
  }

  var instance;
  var positionInterval;
  var seeking = false;

  function handleLoadComplete(event) {
    instance = createjs.Sound.play("music");
    instance.stop();
    instance.addEventListener("complete", function () {
      clearInterval(positionInterval);
    }); trackTime();
  }

  var dragOffset;
  function trackTime() {
    positionInterval = setInterval(function (event) {
      if (seeking) return;
      var porcentaje_carga = instance.getPosition() / instance.getDuration() * $("#track").width();
    }, 30);
  }
</script>


<!-- CHAT EN TIEMPO REAL -->
<script>
document.addEventListener('backbutton', onBackKeyDown, false);

function onBackKeyDown(event) {
    // Handle the back button
    event.preventDefault();
    alert('I am a demo purpose alert thingy');
}
var cont2 =0;
<% if( typeof usuario != "undefined"){%>  
  // var audioElement;
  // audioElement = document.createElement('audio');
  // audioElement.setAttribute('src', 'sound/tucutin1.mp3');

  var ws = io();
  $(document).on("ready", function(){

    ws.on('chat_ping_res', function(id_user){
      // var time1 = setTimeout(function(){
   //         $("#user_"+id_user).css({"color":"","text-shadow":""});
   //       },5000);
        removeSleep(id_user,4900);
        $("#user_"+id_user).css({"color":"#00D900","text-shadow":"1px 1px 2px #999"});

      // clearInterval(time1);
      // console.log("#user_"+id_user);
    });
    <% if( typeof params.cwri != "undefined"){%>
      msn_waiting("cwri");
    <%}%>
    <% if( typeof params.uinf != "undefined"){%>
      msn_waiting("uinf");
    <%}%>
    ws.on('chat_msn_res', function(dt){
      
      if(dt.user_recept == <%=usuario.id_usuario%> && dt.user_emit == <%=params.id_user%> ){
        
          view_min_msnXuser();
            out_box = true;
            viewed = false;
          
        // ws.emit("notify_vibrador_req", dt);
      }else{
        if(dt.user_recept == <%=usuario.id_usuario%>){
          ws.emit("notify_req", dt);
          try{
            instance.position=0;
                instance.play();
          }catch(ex){
            // alert("no es compatible")
          }
          // audioElement.currentTime = 0;
          // audioElement.play();
          
          cont2++;
        }
      }
      <% if( typeof params.clis != "undefined"){%>
        msn_waiting("clis");
      <%}%>
      <% if( typeof params.cwri != "undefined"){%>
        msn_waiting("cwri");
      <%}%>
      


    });
    ws.on('chat_viewed_res', function(dt){
      if(dt.user_recept == <%=params.id_user%> && dt.user_emit == <%=usuario.id_usuario%> ){
        viewed_verify();
      }
    });

  });
  function removeSleep(id_user,time){
    setTimeout(function(){
        $("#user_"+id_user).css({"color":"","text-shadow":""});
        callback1();
      },time);
  }
  var user_emit = 0;
  <% if( typeof params.id_user != "undefined"){%>
    user_emit = <%=params.id_user%>
  <%}%>

  function msn_waiting(tipo){
    
    switch(tipo){
      case 'clis':
        $.post('/msn_waiting', {id_usuario: <%=usuario.id_usuario%>,user_emit: user_emit}, function(dt, textStatus, xhr) {
          // location.reload();
          chat_list();
        });
        break;

      case 'cwri':
        $.post('/msn_waiting', {id_usuario: <%=usuario.id_usuario%>,user_emit: user_emit}, function(dt, textStatus, xhr) {
          // location.reload();
          if( dt[0].count == 0 )
            $("#alerta_msn").hide();
          else{
            $("#alerta_msn").show().html(dt[0].count);
          }
        });
        break;
      case 'uinf':
        $.post('/msn_waiting', {id_usuario: <%=usuario.id_usuario%>,user_emit: user_emit}, function(dt, textStatus, xhr) {
          // location.reload();
          if( dt[0].count == 0 )
            $("#alerta_msn").hide();
          else
            $("#alerta_msn").show().html(dt[0].count);
        });
        break;
    }
    if(cont2 == 1){
      // alert("jaja");
      // audioElement.currentTime = 0;
      // audioElement.play();
    } 
  }
  $(document).ready(function() {
    ws.emit("chat_ping_req", <%=usuario.id_usuario%>);
  });
  setInterval(function(){
    ws.emit("chat_ping_req", <%=usuario.id_usuario%>);
  },5000);
<% }%>
</script>
</body>

</html>