
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%-init.head%>
</head>

<body>
  <nav class="navbar navbar-full navbar-light bg-faded">
    <a class="navbar-brand" href="/">SIGESIN</a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <!-- <li class="nav-item">
        <a class="disabled nav-link" href="#">Servicio</a>
      </li>
      <li class="nav-item">
        <a class="disabled nav-link" href="#">Acerca de nosotros<br></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="login">Ingresar<br></a>
      </li>
    </ul>
  </nav>
  <div class="section section-fill-height section-opaque-dark text-xs-center">
    <div class="background-image" style="background-image : url('img/log1.png')"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 pi-draggable pi-item text-inverse">SIGESIN</h1>
          <a href="/login" class="btn btn-lg btn-secondary-outline m-y-lg">Solicitar servicio ahora!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="p-y-3 section">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="img/tecnico_soporte_informatico.jpg" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h1 class="text-primary">¿Que es SIGESIN?</h1>
          <h5 class="text-danger">- NUEVO</h5>
          <p class="lead text-justify">Sistema de Gestión de Soporte Informatico, es un sistema especializado en la solución de problemas informaticos en todos los organos de la Institución o empresas que realize operaciones con el apoyo tecnologico.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-y-3 section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr class="" draggable="true">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-xs-center">Especialistas en Soporte Informatico</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-xs-center col-md-offset-1">
          <img src="https://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-fluid m-y m-y-1">
          <h3>Luis Torres Carpio</h3>
          <p>PRACTICANTE</p>
        </div>
        <div class="col-md-2 text-xs-center col-md-offset-2">
          <img src="https://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-fluid m-y m-y-1">
          <h3>Anonimo 1</h3>
          <p>Soporte 1</p>
        </div>
        <div class="col-md-2 text-xs-center  col-md-offset-2">
          <img src="https://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-fluid m-y m-y-1">
          <h3>Anonimo 2</h3>
          <p>Soporte 2</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-faded p-y-3 section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item">Compañia</h1>
          <p>
            <b>ServiceTCL</b>
            <br>- luis.torres.carpio1@gmail.com
            <br>- Celular:
            <abbr title="Numero de celular">935422777</abbr>
          </p>
          <div class="m-y-2 m-y-lg row text-center">
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-facebook text-primary"></i></a>
            </div>
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-twitter text-primary"></i></a>
            </div>
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-instagram text-primary"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item">Contactar</h1>
          <form>
            <fieldset class="form-group">
              <label for="exampleInputEmail1">Su Nombre</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your name">
            </fieldset>
            <fieldset class="form-group">
              <label for="exampleInputEmail1">Su correo electronico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </fieldset>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h6 class="text-xs-center">
                            <br>
                            <br>Created by: ilored.com</h6>
        </div>
      </div>
    </div>
  </div>
  <%-init.foot%>
</body>

</html>